doctype html
html
  head
    link(href="404.css" rel="stylesheet")
    title Error 404 
  body
    .shoot
      h1 Error 404
      p Hi! It seems as if you were trying to connect to a InsanisBlog page that either doesn't exist or you spelled it wrong.
      p 
        p I can redirect you to the
        a(href="http://insanisblog.surge.sh") Home Page
        p though!
