doctype html
html
  head
    title Test
  body
    p Go follow Insanis's Blog on Twitter at @_insanisblog and on Instagram at @insanisblog!
    img(src='http://www.spc.noaa.gov/misc/twitter-bird-light-bgs.png')
    img(src='https://phantom-smoke.com/wp-content/uploads/2013/12/instagram.png')
    p You can also contact us at insanisblog@gmail.com
